# Rust
/target/

# Node / npm
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# Env files
.env
.env.*
!.env.example

# IntelliJ project files
.idea/
*.iml
out/
gen/

# Database files
*.sqlite
*.sqlite3
*.db

# Misc
TODO.md

# Logs
logs/
*.log

# TLS certificates and private keys
certs/